
* {
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}

body {
    color: #d34b96;
    margin: 0 auto;
    background-color: #fde5e5;
    max-width: 1120px;
}

nav {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

nav > ul {
    display: flex;
    list-style: none;
    gap: 30px;
    z-index: 3;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color:black ;
    padding: 5px 10px;
    &:hover {
        background-color: #d8d800;
        color: #f690c8;
        color: #fff;
    }
}


.cointainer {
    display: flex;
    flex-direction: row;
    justify-content:center ;
}
.text_section {
    font-size:25px;
    font-weight: 500;
    text-align:start;
    margin-top: 80px;

}
.image_section {
    
    

}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    
}
.header{
    text-decoration: underline ;
    margin-top: 200px;
    margin-bottom: 10px;
    text-align: star
}
.about_container{
    display: flex;
    flex-direction: row;
} 


.about_section {
    font-size: 20px;
    padding: 20px;
    margin: auto;

}
.btn_about {
    background-color: rgb(216, 216, 0);
    color: black;
    border-radius: 20px;
    width: 100px;
    padding: 5px;
}

.login-page {
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 30%;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
}



.login-page input {
    width: 100%;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 2px;
    background-color: #f2f2f2;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.login-page label {
    display: block;
    margin-bottom: 10px;
    
}

.register-link {
    justify-content: center;
    margin-top: 10px;
    display: flex;
}
.btn-login {
    width: 100%;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.signup-page {
    
    
}
.signup-page input {
    width:50%;
    padding: 8px;
    margin-bottom: 10px;
}
.signup-page label{
    display: block;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    
}

@media screen  and (min-width: 1024px){

}
    
@media screen  and(min-width: 1441px){

}
    
.footer{
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    
    bottom: 0;
    width: 100%;
    border-radius: 20px;
}
.footer-content {
    max-width: 10px;
    margin:  20px;
}
.social-icon {
    margin-bottom: 10px;

}
.social-icon a {
color: #fff;
margin: 0 10px;
font-size: 24px;
text-decoration: none;
transition: color 0.3s;
}
.social-icon a :hover {
    color: ida1f2;
}
.right-text {
    font-size: 14px;
    color: #bbb;
}

