{% extends 'layout.html' %}
{% load static %}
{% block main %}
<div class="about_container">
    <div class="text_section">
        <h2 > About me</h2>
        <p class="about_section">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus vel, rerum vitae laboriosam praesentium nesciunt autem magni molestiae, velit itaque quasi aliquam fuga obcaecati odit, porro similique odio eveniet ipsam.</p>
        <button class="btn_about">Resume</button>

        

    </div>
    <div class="about_image">
        <img src="{% static 'images/bg-2 (1).png' %}" alt="hello"/>
    </div>
</div>



{% endblock main %}
