{% extends 'layout.html' %}
{% load static %}
{% block main %}
<div class="about_container">
    <div class="text_section">
        <h2 > About me</h2>
        <p class="about_section">I'm Blessing Shaibu,a proactive full-stack developer committed to delivering exceptional web solutions.i'm passionate about writting clean readable code that solves real-world problems. Full-stack expertise in Javascript, Python and Django, and i'm eager to learn more.</p>
        <button class="btn_about" style="margin-bottom: 20px; background-color: white;"><a href="#"> Resume</a></button>
        

    </div>
    <div class="about_image">
      <img style="width: 350px; height: 400px; margin-top:10px ; border: 10px; border-radius: 300px;" src=" {% static 'images/MGLE4739.JPG' %} ">
      
    </div>
</div>



{% endblock main %}
