{% extends 'layout.html' %}

{% block main %}
    <div class="container " >
        <div class="text_section">
            <p style="color: yellow; margin-bottom: 20px; margin-top: 20px;"> Full Stack Developer </p>
            <h2 style=" margin-bottom: 10px; " >Hello, my name is Blessing Shaibu</h2>
            <p style="font-size: 20px; width: 500px;">I'm a passionate Full Stack Developer with experience in Web Development and problem solving-skill using modern technology

            </p>
    <div class="button-container">
            
            <button style="background-color: yellow; color: black; width: 90px; padding: 5px; border-radius: 5px; "><a href="{% url 'projects'%}">Project</a>
            <button style="background-color: white;color: black;width: 90px; padding: 5px; border-radius: 5px;"> <a href="https://www.linkdeln.com/in/blessing-shaibu-221249294"></a>Linkdeln</button>
            </div>
        </div>

        <div class="image_section"> 
            <img src=".\static\images\image (1).png">
        </div>

    </div>
        <b></b>
    <div>
        <h2 class="header" style="font-size: 40px; text-align: center; margin-top : 250px;" >Projects</h2>
        
    </div>
    <div class="container1" style=" display: flex;  margin: auto; background-color: whitesmoke; height: 350px; width: 620px; border: 5px solid white; color: black; border-radius: 20px; margin-bottom: 40px; margin-top: 20px;">
        <div class="text_section1" style=" margin-top: 60px;  padding: 30px; " >
            <h2 >Projects Name</h2>
            <p style="margin-bottom: 10px; font-size: 15px;"> I created this portfolia in order to show how to create an interface in Figma using a portfolia as an example.</p>
            <button style=" background-color:white; padding: 5px; width: 100px; border-radius: 20px; ">View project</button>


        </div >
        <div class="image1" >
            <img style=" width: 250px;height: 340px; border-top-right-radius: 15px;border-bottom-right-radius: 15px; " src="./static/images/pexels-elly-fairytale-3823207 1.png" >
        </div>
    </div>

<div class="container2" style="display: flex; margin: auto; background-color: whitesmoke; height: 350px; width: 620px; border: 5px solid white; color: black; border-radius: 20px; margin-bottom: 40px; " >
    <div class="image2">
    <img style="width: 250px;height: 340px; border-top-left-radius: 15px;border-bottom-left-radius: 15px;" src="./static/images/Rectangle 7 (3).png">
    </div>
    <div class="text_section2" style="margin-top: 60px; padding: 30px;">
        <h2>Project Name</h2>
        <p style="margin-bottom: 10px; font-size: 15px;">What was your roles,your deliverable if project was personal,freelancing.</p>
        <button style="background-color:white; padding: 5px; width: 100px; border-radius: 20px;">View project</button>

    </div>

</div>    

<div class="container3" style="display:flex; margin: auto; background-color: whitesmoke; height: 350px; width: 620px; border: 5px solid white; color: black; border-radius: 20px; margin-bottom: 40px; ">
    <div class="text_section3" style="margin-top: 60px; padding: 30px; margin-bottom: 10px;">
        <h2>Project Name</h2>
        <p style="margin-bottom: 10px; font-size: 15px;">You can also add in this description the type of project, if it was for web,mobile, electron.</p>
        <button style="background-color: white; padding: 5px; width: 100px; border-radius: 20px;">View project </button>

    </div>
    <div>
        <img style="width: 250px;height: 340px; border-top-right-radius: 15px;border-bottom-right-radius: 15px;"  src="./static/images/Rectangle 7 (6).png" >
    </div>
</div>
<div class="border" style="width: fit-content; margin-left: 20px; margin-right: 60px; color:blueviolet;">
    <img style="width: fit-content; color: blueviolet;" src="./static/images/Vector.png">
</div>
{% endblock main  %}



