
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=" {% static 'https://cdngs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css'%}">
    <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
</head>
<body class="layout">
    <header>
        <nav>
        <div>Blessing</div>
    <ul>
        <li><a href="{% url 'home'%}">Home</a></li>
        <li><a href="{% url 'about'%}">About</a></li>
        <li><a href="{% url 'contact'%}">Contact</a></li>
        <li><a href="{% url 'projects'%}">Project</a></li>
    {% if user.is_super%}
    <li><a href="{% url 'add_project' %}">Add</a></li>
    {% endif %}
    
        
        
        <!-- if  user is logged in show just the logout button else show login or signup button-->
         {% if user.is_authenticated  %}
         <form action="{% url 'logout'%}" method="post">
            {% csrf_token %}
            <button>Logout</button>
            
         </form>
         

        {% else %}

        <li><a href="{% url 'signup' %}">signup</a></li>
        <li><a href="{% url 'login' %}"> login</a></li>

        {% endif %}
        
    </ul>
    </nav>
    </header>
    <main>
        {% block main %}

            <h1>default</h1>
        {% endblock main %} 
    </main>
 
    {% load static %}

<footer class="site-footer">
  <div class="footer-social">
    <a href="https://instagram.com/yourprofile" target="_blank">
      <img src="{% static 'images/bx_bxl-instagram-alt.png' %}" alt="Instagram Icon" class="social-icon">
    </a>
    <a href="https://twitter.com/yourprofile" target="_blank">
      <img src="{% static 'images/akar-icons_twitter-fill.png' %}" alt="Twitter Icon" class="social-icon">
    </a>
    <a href="https://linkedin.com/in/yourprofile" target="_blank">
      <img src="{% static 'images/cib_linkedin-in.png' %}" alt="LinkedIn Icon" class="social-icon">
    </a>
    <a href="mailto:your.email@example.com">
      <img src="{% static 'images/cib_facebook-f.png '%}" alt="Email Icon" class="social-icon">
    </a>
  </div>
  <div class="footer-text">
    &copy; 2025 Shaibu Blessing. All Rights Reserved.
  </div>
</footer>

</body>
</html>